.cover__subtitle {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 32px;
  margin-bottom: 0;
  max-width: 360px;
  z-index: 1;
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    margin-top: 16px;
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}
