.lead__subtitle {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin: 32px auto 64px;
  color: #fff;
  max-width: 640px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 690px) {
  .lead__subtitle {
    font-size: 36px;
    line-height: 40px;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: calc(100% - 2*16px);
    margin: 16px auto 40px;
  }
}
