.cover {
  margin-top: 92px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 100%;
  position: relative;
  max-width: calc(1280px - 2*48px);
  width: 100%;
  min-height: 740px;
  box-sizing: border-box;
}

@media screen and (max-width: 1184px) {
  .cover {
    min-height: calc(0.625 * 100vw);
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 90px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin-top: 66px;
  }
}
