.footer {
  max-width: calc(1280px - 2*48px);
  width: 100%;
  display: flex;
  margin: 92px auto 24px;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: calc(100% - 2*48px);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 88px;
    max-width: calc(100% - 2*24px);
  }
}

@media screen and (max-width: 690px) {
  .footer {
    display: block;
    margin-top: 64px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    margin-left: 16px;
  }
}
